/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/examples           export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
/phpstan.neon       export-ignore

* text=auto eol=lf
